@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

.ReactCollapse--collapse {
  transition: height 500ms;
}

.inactive {
  display: none;
}

.active {
  display: block;
}
